#calc .calc-body {
  border: solid 0px #3A4655;
  box-shadow: 0 8px 50px -7px black;
  background: #3C4857;
}

#calc .calc-screen {
  background: #3A4655;
  width: 300px;
  height: 150px;
  padding: 20px;
}

#calc .calc-operation {
  text-align: right;
  color: #fff;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

#calc .calc-typed {
  margin-top: 20px;
  text-align: right;
  color: #fff;
}

#calc .keypad {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  background: #3C4857;
}

#calc .calc-button-row {
  margin: 1px 0px 0px 0px;
  padding: 0px;
  justify-content: center;
  gap: 1px;
}

#calc .calc-button {
  font-size: 24px;
  background: #425062;
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

#calc .calc-button.l {
  color: #AEB3BA;
  background: #404D5E;
}

#calc .calc-button.c {
  color: #D95D4E;
  background: #404D5E;
}

#calc .calc-button.e {
  width: 100%;
  color: #fff;
  background: #37ae5f;
  border: 0px;
}
