<div
    id="toosla-settings"
    data-role="charms"
    data-position="left"
    data-opacity=".75"
    >
    <div id="toosla-settings-toolbar" class="toolbar">
        <button class="button light btn-done" ng-click="closeSettings(true)">Done</button><button class="button dark btn-cancel" ng-click="closeSettings(false)">Cancel</button>
    </div>
    <p></p>
    <hr>
    <div class="row">
        <a href="https://tinyurl.com/5fkj9fp7">browser's features 1</a>
    </div>
    <div class="row">
        <a href="https://tinyurl.com/y9jrvh77">browser's features 2</a>
    </div>
    <div class="row">
        <button ng-click="$ctrl.checkFeatures();">check</button>
    </div>
    <hr>
    <p></p>
</div>


<div id="toosla" class="pos-fixed pos-bottom-right"><span id="version" class="p-2"></span><span id="screen"></span></div>
